<p>Hi <%= @user.username %>,</p>

<p>
Welcome to Fudie! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.account_activation_token,
                                                    email: @user.email) %>
